<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="row">
  <ngb-alert [dismissible]="false" style="width: 100%;">
    <div class="col-sm-7">
      <p style="font-size: 25px;font-family: segoe ui semibold;">

        <span class="glyphicon glyphicon-home"></span>
        <strong> Kamala Gari Vantalu </strong>
      </p>
    </div>
    <div class="col-sm-5">
      <div style="font-size: 16px;"> Like...Share..Subscribe..Comment...Win..</div>

    </div>
  </ngb-alert>
</div>