<div style="display: inline-block;width:46%;vertical-align: top;padding:10px;">

  <div class="card">
    <div class="card-header">
      30 gifts every month in 2020
    </div>
    <div class="card-body">
      <h5 class="card-title">Judgement day Oct 30</h5>
      <p class="card-text">30 winners will be declared based on best comments for kamalagari vantalu youtube videos,
        by Judges on October 30, 20202. Winners will be declared in this site with gift tracking numbers and status.</p>
      <a target="_blank" href="https://www.youtube.com/channel/UCTdwo3KQySgWQCAf4BTfBjg/videos"
        class="btn btn-primary">Start Commenting Now</a>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Respecting Most Liked Comments</h5>
          <p class="card-text">Top 30 most liked comments or best comments will be picked on Oct 30 and declared as
            winners.
            More Likes more comments or more shares by you will be counted for other category prizes.
          </p>
          <a target="_blank" href="https://www.youtube.com/channel/UCTdwo3KQySgWQCAf4BTfBjg/videos"
            class="btn btn-primary">Participate now</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gifts Shipped to India only</h5>
          <p class="card-text">Winners can be from any location in the world but gifts will be shipped only to Indian
            address through amazon prime. To make multiple people win, maximum of 1 gift is limited for one address.</p>
          <a target="_blank" href="#gifts" class="btn btn-primary">View All Gifts</a>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 10px;" id="gifts">
    <h3>October Gifts</h3>
  </div>

  <div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">1st PRIZE</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">for best comment with more likes</small></p>
      </div>
      <img style="width: 50%;height: 50%;"
        src="https://images-na.ssl-images-amazon.com/images/I/71szuYPKVFL._UL1500_.jpg" class="card-img-bottom"
        alt="...">
    </div>
  </div>



  <div style="padding: 10px;">
    <div class="card" style="width: 18rem;display: inline-block;margin: 5px;">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71szuYPKVFL._UL1500_.jpg" class="card-img-top"
        alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;display: inline-block;margin: 5px;">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71szuYPKVFL._UL1500_.jpg" class="card-img-top"
        alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;display: inline-block;margin: 5px;">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71szuYPKVFL._UL1500_.jpg" class="card-img-top"
        alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>



  <div style="padding: 10px;">
    <div class="card" style="width: 18rem;display: inline-block;margin: 5px;">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71szuYPKVFL._UL1500_.jpg" class="card-img-top"
        alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;display: inline-block;margin: 5px;">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71szuYPKVFL._UL1500_.jpg" class="card-img-top"
        alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;display: inline-block;margin: 5px;">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71szuYPKVFL._UL1500_.jpg" class="card-img-top"
        alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>

</div>