<div style="vertical-align: top;padding:10px;">

  <div class="card">
    <div class="card-header">
      Win 30 gifts every month in 2020
    </div>
    <div class="card-body">
      <h5 class="card-title">This Month's Judgement Day: Nov 30</h5>
      <p class="card-text">30 winners will be declared based on best comments for kamalagari vantalu youtube videos,
        by Judges on November 30, 2020. Winners will be declared in this site with gift tracking numbers and status.
        <b style="color:red;">To claim your gifts</b>, use the <b style="color:red;">same gmail id</b> which you used to comment on a youtube video, share <b style="color:red;">Indian</b> adress to which gift 
        should be shipped to thotalakshmikamala  at  gmail.com. Use live chat feature for any clarifications.
      </p>
      <a target="_blank" href="https://www.youtube.com/channel/UCTdwo3KQySgWQCAf4BTfBjg/videos"
        class="btn btn-primary">Start Commenting Now</a>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Respecting Most Liked Comments</h5>
          <p class="card-text">Top 30 most liked comments or best comments will be picked on Nov 30 and declared as
            winners.
            More Likes more comments or more shares by you will be counted for other category prizes.
          </p>
          <a target="_blank" href="https://www.youtube.com/channel/UCTdwo3KQySgWQCAf4BTfBjg/videos"
            class="btn btn-primary">Participate now</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gifts Shipped to India Only</h5>
          <p class="card-text">Winners can be from any location in the world but gifts will be shipped only to Indian
            address through amazon prime. To make multiple people win, maximum of 2 gifts are limited for one address.
          </p>
          <a href="#gifts" class="btn btn-primary">View All Gifts</a>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 10px;" id="gifts">
    <h3>November, 2020 Gifts</h3>
  </div>

  <div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">SPECIAL GIFT</h5>
        <p class="card-text">Nilkanth Enterprise Women's cotton blend Saree with Unstitched Blouse Piece (Purple).</p>
        <p class="card-text"><small class="text-muted">for best comment with more likes</small></p>
      </div>
      <img style="width: 50%;height: 50%;"
        src="https://images-na.ssl-images-amazon.com/images/I/61cwqygA6FL._UL1457_.jpg" class="card-img-bottom"
        alt="...">
    </div>
  </div>

  <BR />
  <h5 class="card-title">OTHER GIFTS</h5>
  <div style="padding: 10px;">
    <div class="card" style="width: 18rem;display: inline-block;margin: 5px;">
      <img height="150px" width="150px" src="https://images-na.ssl-images-amazon.com/images/I/61A60FbSLaL._SL1238_.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Echo-friendly light weight and handmade keychain with loving attention to detail.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;display: inline-block;margin: 5px;">
      <img height="150px" width="150px" src="https://images-na.ssl-images-amazon.com/images/I/81p92jJPRTL._SL1500_.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Handicrafted Set of 2 showpiece Big Size Elephant for Decoration (13x8 cm).</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;display: inline-block;margin: 5px;">
      <img height="150px" width="150px" src="https://images-na.ssl-images-amazon.com/images/I/816E0NZWl8L._UL1500_.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">NESTER Analogue Black Dial Leather Strap Sporty Men's & Boy's Wrist Watch.</p>
      </div>
    </div>
  </div>



  <div style="padding: 10px;">
    <div class="card" style="width: 18rem;display: inline-block;margin: 5px;">
      <img height="150px" width="150px" src="https://images-na.ssl-images-amazon.com/images/I/61JAq53mF6L._UL1024_.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Sukkhi Glittery Gold Plated Wedding Jewellery Austrian Diamond Necklace Set For Women.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;display: inline-block;margin: 5px;">
      <img height="150px" width="150px" src="https://images-na.ssl-images-amazon.com/images/I/71n-Ag13cmL._UL1024_.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Sukkhi Ethnic Pearl Gold Plated Wedding Jewellery Peacock Meenakari Kada For Women.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;display: inline-block;margin: 5px;">
      <img height="150px" width="150px" src="https://images-na.ssl-images-amazon.com/images/I/71ljHDeuxlL._UL1000_.jpg"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Sukkhi Traditional Gold Plated Wedding Jewellery Choker Necklace Set For Women.</p>
      </div>
    </div>
  </div>
  <p>Disclaimer: images source: amazon.in</p>


  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/n-qlYf9NTBk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/i0DDGXJimcA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-tLw3q4JgPM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8Luw327wI2U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7MWZUYWV-Wo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tjkJ45yetTs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RbLwpk0dkQg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ndgd3JZMfHU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/kToxmmkzoZ4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xyLmdxIqbh0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>