<div style="display: inline-block;width:28%;">

        <div class="card" style="width: 95%;margin: 10px;">
                <img src="https://cdn.pixabay.com/photo/2016/12/09/04/02/present-1893642_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                </div>
        </div>


<br />

        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/Ndgd3JZMfHU" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/_5RDd4igN-0" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/vJt8IBBpCN4" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/vJt8IBBpCN4" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/l3w2cUeJnms" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/IZLWmFjmPA4" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/xyLmdxIqbh0" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/vq_3ZZnu5qQ" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/PJgJl2oGNzw" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/PJgJl2oGNzw" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
</div>