<div style="display: inline-block;width:28%;">

        <div class="card" style="width: 95%;margin: 10px;">
                <img src="https://cdn.pixabay.com/photo/2016/12/09/04/02/present-1893642_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                        <h5 class="card-title">How to win Gift</h5>
                        <p class="card-text">It is very simple to win a gift. Just follow the below steps.. If your comment is liked by more people, you will be the winner.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">1. Subscribe below Youtube Channel</li>
                        <li class="list-group-item">2. Like one or more videos</li>
                        <li class="list-group-item">3. Comment on one or more videos</li>
                </ul>
                <div class="card-body">
                        <a target="_blank" href="https://www.youtube.com/channel/UCTdwo3KQySgWQCAf4BTfBjg" class="card-link">Youtube Channel</a>
                        <a target="_blank" href="https://www.youtube.com/channel/UCTdwo3KQySgWQCAf4BTfBjg/videos" class="card-link">All Videos</a>
                </div>
        </div>


<br />

<app-youtubecomments></app-youtubecomments>


        <!-- <div><iframe width="360" height="215" src="https://www.youtube.com/embed/Ndgd3JZMfHU" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/_5RDd4igN-0" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/vJt8IBBpCN4" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/vJt8IBBpCN4" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/l3w2cUeJnms" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/IZLWmFjmPA4" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/xyLmdxIqbh0" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/vq_3ZZnu5qQ" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/PJgJl2oGNzw" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div>
        <div><iframe width="360" height="215" src="https://www.youtube.com/embed/PJgJl2oGNzw" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe></div> -->
</div>