<div style="display: inline-block;width:33%;vertical-align: top;">
  <h3 style="text-align: center;font-family: 'segoe ui semibold';">September Winners</h3>

  <div style="padding: 5px;" *ngFor="let item of lastMonth">
    <div style="display: inline-block; vertical-align: top;padding: 5px;">
      <div><b>{{item.category}}</b></div>
      <div><b><i>Winner</i></b> <br /> {{item.winner}}</div>
      <div>
        <i>{{item.videoTitle}}</i></div>
      <div>Gift Status: {{item.giftStatus}}</div>
    </div>

    <div style="display: inline-block;vertical-align: top;">
      <img src="{{item.giftUrl}}" />
    </div>
    <hr />
    <div style="font-style: italic;">
      Comment: {{item.Comment}}
    </div>
    <hr />

  </div>


</div>