<div style="vertical-align: top;">
  <h3 style="text-align: center;font-family: 'segoe ui semibold';">Past Winners</h3>

  <div style="padding: 5px;" *ngFor="let item of lastMonth">
    <div style="display: inline-block; vertical-align: top;padding: 5px;">
      <div><b>{{item.gsx$category.$t}}</b></div>
      <div><b><i>Winner</i></b> <br /> {{item.gsx$winner.$t}}</div>
      <div>
        <i>{{item.gsx$videotitle.$t}}</i></div>
      <div>Gift Status: {{item.gsx$giftstatus.$t}}</div>
    </div>

    <div style="display: inline-block;vertical-align: top;">
      <img src="{{item.gsx$gifturl.$t}}" />
    </div>
    <hr />
    <!-- <div style="font-style: italic;">
      Comment: {{item.gsx$comment.$t}}
    </div>
    <hr /> -->

  </div>


</div>